@import '~bootstrap/dist/css/bootstrap.min.css';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  padding: 2px;
}

.border {
  margin-top: 3px;
  border: 1px solid black;
}

.button {
  background: none;
  border: 1px solid black;
  padding: 4px 24px 4px 24px;
}
